
<section class="section">
    <div class="slider-accordion">
        <div class="slider-item slider-item-1 active" style="background-image: url(images/slider-accordion-1.jpg);">
            <div class="slider-content">
                <h1 class="title">Purchase</h1>
                <h2 class="heading-1 subtitle">Your Dream House</h2><a class="button button-inverse" href="#.html"><span>Schedule a Tour</span></a>
            </div>
            <div class="slider-toggle active" data-custom-toggle=".slider-item-1" data-custom-toggle-disable-on-blur="true"></div>
        </div>
        <div class="slider-item slider-item-2" style="background-image: url(images/slider-accordion-2.jpg);">
            <div class="slider-content">
                <h1 class="title">Explore</h1>
                <h2 class="heading-1 subtitle">Rooms & Amenities</h2><a class="button button-inverse" href="#.html"><span>Schedule a Tour</span></a>
            </div>
            <div class="slider-toggle" data-custom-toggle=".slider-item-2" data-custom-toggle-disable-on-blur="true"></div>
        </div>
        <div class="slider-item slider-item-3" style="background-image: url(images/slider-accordion-3.jpg);">
            <div class="slider-content">
                <h1 class="title">Learn More</h1>
                <h2 class="heading-1 subtitle">About the Property</h2><a class="button button-inverse" href="#.html"><span>Schedule a Tour</span></a>
            </div>
            <div class="slider-toggle" data-custom-toggle=".slider-item-3" data-custom-toggle-disable-on-blur="true"></div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="section section-lg bg-white">
    <div class="shell-wide text-center">
        <div class="title-block-1">
            <div class="range range-center">
                <div class="cell-sm-10 cell-lg-6">
                    <h3>A Few Words About the Property</h3>
                    <div class="divider divider-6"></div>
                    <p>This property is a remarkable new home with custom finishing details, which has lots of amenities and  originally furnished rooms. Below are some of its advantages.</p>
                </div>
            </div>
        </div>
        <div class="range range-40 range-md-60 text-left">
            <div class="cell-sm-6 cell-md-3">
                <div class="blurb">
                    <div class="heading-4 blurb-title unit unit-spacing-xs unit-sm-horizontal unit-middle">
                        <div class="unit-left">
                            <div class="icon icon-primary mdi mdi-cube-outline"></div>
                        </div>
                        <div class="unit-body"><a href="#">Modern Design</a></div>
                    </div>
                    <p class="blurb-content">We hired professional designers and architects to make this house look awesome and feel comfortable both inside and outside.</p>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
                <div class="blurb">
                    <div class="heading-4 blurb-title unit unit-spacing-xs unit-sm-horizontal unit-middle">
                        <div class="unit-left">
                            <div class="icon icon-primary mdi mdi-diamond"></div>
                        </div>
                        <div class="unit-body"><a href="#">Luxury Rooms</a></div>
                    </div>
                    <p class="blurb-content">Every room in this house is styled and furnished on a maximum level of a luxury so that you could experience true comfort at its best.</p>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
                <div class="blurb">
                    <div class="heading-4 blurb-title unit unit-spacing-xs unit-sm-horizontal unit-middle">
                        <div class="unit-left">
                            <div class="icon icon-primary mdi mdi-access-point"></div>
                        </div>
                        <div class="unit-body"><a href="#">Free High-Speed Wi-Fi</a></div>
                    </div>
                    <p class="blurb-content">Need to constantly remain connected to the Internet? No problem, this property offers hi-speed Wi-Fi connection for free.</p>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
                <div class="blurb">
                    <div class="heading-4 blurb-title unit unit-spacing-xs unit-sm-horizontal unit-middle">
                        <div class="unit-left">
                            <div class="icon icon-primary mdi mdi-beach"></div>
                        </div>
                        <div class="unit-body"><a href="#">Outdoor BBQ Area</a></div>
                    </div>
                    <p class="blurb-content">The outdoor zone of the house features BBQ area to let you enjoy a great barbecue with your friends and family in a warm atmosphere.</p>
                </div>
            </div>
        </div><a class="button button-primary-outline" href="take-a-tour.html"><span>More Details</span></a>
    </div>
</section>
<!-- Services-->
<section class="section text-center">
    <div class="title-section">
        <h2 class="title">Property Gallery</h2>
    </div>
    <!-- Isotope Content-->
    <div class="grid-2 isotope isotope-fix isotope-single" data-isotope-layout="masonry" data-isotope-group="gallery" data-lightgallery="group">
        <div class="small-height col-xs-width-6 col-sm-width-6 col-md-width-3 isotope-item" data-filter="*">
            <div class="gallery-item">
                <a class="gallery-item-inner" data-lightgallery="group-item" href="images/originals/gallery-image-original-4.jpg">
                    <div class="gallery-img-wrap">
                        <img src="images/home-gallery-4-480x600.jpg" alt="" width="480" height="600" />
                    </div>
                    <div class="zoom-item"></div>
                </a>
                <div class="caption">
                    <h4 class="heading"><a href="#">Guest Room</a></h4>
                    <div class="divider divider-1"></div>
                    <p class="exeption">This property features a lot of great rooms.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-width-6 col-sm-width-6 col-md-width-3 isotope-item" data-filter="*">
            <div class="gallery-item">
                <a class="gallery-item-inner" data-lightgallery="group-item" href="images/originals/gallery-image-original-3.jpg">
                    <div class="gallery-img-wrap">
                        <img src="images/home-gallery-3-480x300.jpg" alt="" width="480" height="300" />
                    </div>
                    <div class="zoom-item"></div>
                </a>
                <div class="caption">
                    <h4 class="heading"><a href="#">Kitchen</a></h4>
                    <div class="divider divider-1"></div>
                    <p class="exeption">This property features a lot of great rooms.</p>
                </div>
            </div>
        </div>
        <div class="small-height col-xs-width-6 col-sm-width-6 col-md-width-3 isotope-item" data-filter="*">
            <div class="gallery-item">
                <a class="gallery-item-inner" data-lightgallery="group-item" href="images/originals/gallery-image-original-6.jpg">
                    <div class="gallery-img-wrap">
                        <img src="images/home-gallery-6-480x600.jpg" alt="" width="480" height="600" />
                    </div>
                    <div class="zoom-item"></div>
                </a>
                <div class="caption">
                    <h4 class="heading"><a href="#">Sitting Room</a></h4>
                    <div class="divider divider-1"></div>
                    <p class="exeption">A complete staircase remodeling</p>
                </div>
            </div>
        </div>
        <div class="col-xs-width-6 col-sm-width-6 col-md-width-3 isotope-item" data-filter="*">
            <div class="gallery-item">
                <a class="gallery-item-inner" data-lightgallery="group-item" href="images/originals/gallery-image-original-1.jpg">
                    <div class="gallery-img-wrap">
                        <img src="images/home-gallery-1-480x300.jpg" alt="" width="480" height="300" />
                    </div>
                    <div class="zoom-item"></div>
                </a>
                <div class="caption">
                    <h4 class="heading"><a href="#">Entryway</a></h4>
                    <div class="divider divider-1"></div>
                    <p class="exeption">This property features a lot of great rooms.</p>
                </div>
            </div>
        </div>
        <div class="small-height col-xs-width-6 col-sm-width-6 col-md-width-3 isotope-item" data-filter="*">
            <div class="gallery-item">
                <a class="gallery-item-inner" data-lightgallery="group-item" href="images/originals/gallery-image-original-2.jpg">
                    <div class="gallery-img-wrap">
                        <img src="images/home-gallery-2-480x600.jpg" alt="" width="480" height="600" />
                    </div>
                    <div class="zoom-item"></div>
                </a>
                <div class="caption">
                    <h4 class="heading"><a href="#">Dining Room</a></h4>
                    <div class="divider divider-1"></div>
                    <p class="exeption">This property features a lot of great rooms.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-width-6 col-sm-width-6 col-md-width-3 isotope-item" data-filter="*">
            <div class="gallery-item">
                <a class="gallery-item-inner" data-lightgallery="group-item" href="images/originals/gallery-image-original-5.jpg">
                    <div class="gallery-img-wrap">
                        <img src="images/home-gallery-5-480x300.jpg" alt="" width="480" height="300" />
                    </div>
                    <div class="zoom-item"></div>
                </a>
                <div class="caption">
                    <h4 class="heading"><a href="#">Outdoor Zone</a></h4>
                    <div class="divider divider-1"></div>
                    <p class="exeption">This property features a lot of great rooms.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-width-6 col-sm-width-6 col-md-width-3 isotope-item" data-filter="*">
            <div class="gallery-item">
                <a class="gallery-item-inner" data-lightgallery="group-item" href="images/originals/gallery-image-original-8.jpg">
                    <div class="gallery-img-wrap">
                        <img src="images/home-gallery-8-480x300.jpg" alt="" width="480" height="300" />
                    </div>
                    <div class="zoom-item"></div>
                </a>
                <div class="caption">
                    <h4 class="heading"><a href="#">Living Room</a></h4>
                    <div class="divider divider-1"></div>
                    <p class="exeption">This property features a lot of great rooms.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-width-12 col-sm-width-12 col-md-width-6 isotope-item" data-filter="*">
            <div class="gallery-item">
                <a class="gallery-item-inner" data-lightgallery="group-item" href="images/originals/gallery-image-original-7.jpg">
                    <div class="gallery-img-wrap">
                        <img src="images/home-gallery-7-960x300.jpg" alt="" width="960" height="300" />
                    </div>
                    <div class="zoom-item"></div>
                </a>
                <div class="caption">
                    <h4 class="heading"><a href="#">Bedroom</a></h4>
                    <div class="divider divider-1"></div>
                    <p class="exeption">This property features a lot of great rooms.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Service Description-->
<section class="section section-lg bg-white">
    <div class="shell-wide text-center">
        <div class="title-block-1">
            <div class="range range-center">
                <div class="cell-sm-10 cell-lg-6">
                    <h3>Property Floor Plan</h3>
                    <div class="divider divider-6"></div>
                    <p>Property we offer has a nicely planned area with a variety of rooms available for your comfort. Feel free to browse the floor plan located below and read more information about this property.</p>
                </div>
            </div>
        </div>
        <div class="range range-40 range-justify range-xs-center text-lg-left">
            <div class="cell-sm-10 cell-lg-6 cell-xl-5">
                <h4>What This Property Includes</h4>
                <p>The practical design of this property provides wonderful fluidity throughout the apartment.  Apartments on first and second floors have an outdoor patio or balcony for a breath of clean country air. You can also find other attractive features of this home below.</p>
                <p>Both floors of this attractive and comfortable house offer abundantly furnished and well-designed rooms. Here are some of them:</p>
                <ul class="list-marked list-marked-center">
                    <li>Living Room</li>
                    <li>Bedroom</li>
                    <li>Kitchen</li>
                    <li>Dining Room</li>
                    <li>Guest Room</li>
                </ul>
                <p>We hope that you will find this property and its floor plan suitable in every aspect of comfort. This house has a lot to offer you and our team believes you will find it a perfect place for you and your family. You can browse the full floor plan with photos by pressing the button below.</p><a class="button button-primary-outline" href="contacts.html"><span>View the Full Plan</span></a>
            </div>
            <div class="cell-sm-10 cell-lg-6 cell-xl-6">
                <img src="images/plan-843x616.jpg" alt="" width="843" height="616" />
            </div>
        </div>
    </div>
</section>
<!--Brands-->
<section class="section section-sm bg-gray-dark">
    <div class="shell-wide">
        <div class="range range-justify range-middle text-center">
            <div class="cell-lg-2 cell-md-4 cell-sm-6 cell-xs-12">
                <div class="item"><a class="link-image" href="#"><img src="images/brand-1-157x97.png" alt="" width="157" height="97" /></a></div>
            </div>
            <div class="cell-lg-2 cell-md-4 cell-sm-6 cell-xs-12">
                <div class="item"><a class="link-image" href="#"><img src="images/brand-2-143x115.png" alt="" width="143" height="115" /></a></div>
            </div>
            <div class="cell-lg-2 cell-md-4 cell-sm-6 cell-xs-12">
                <div class="item"><a class="link-image" href="#"><img src="images/brand-3-137x101.png" alt="" width="137" height="101" /></a></div>
            </div>
            <div class="cell-lg-2 cell-md-4 cell-sm-6 cell-xs-12">
                <div class="item"><a class="link-image" href="#"><img src="images/brand-4-132x99.png" alt="" width="132" height="99" /></a></div>
            </div>
            <div class="cell-lg-2 cell-md-4 cell-sm-6 cell-xs-12">
                <div class="item"><a class="link-image" href="#"><img src="images/brand-5-140x107.png" alt="" width="140" height="107" /></a></div>
            </div>
            <div class="cell-lg-2 cell-md-4 cell-sm-6 cell-xs-12">
                <div class="item"><a class="link-image" href="#"><img src="images/brand-6-174x92.png" alt="" width="174" height="92" /></a></div>
            </div>
        </div>
    </div>
</section>
<!-- Counters-->
<section class="section section-lg bg-white">
    <div class="shell-wide text-center">
        <div class="title-block-3">
            <h3>Property Features</h3>
        </div>
        <div class="range range-xs-center">
            <div class="cell-sm-12">
                <div class="range range-xs-center range-60">
                    <div class="cell-sm-6 cell-lg-3">
                        <div class="counter-wrap">
                            <div class="icon icon-md icon-default fl-real-estate-3-house147"></div>
                            <div class="heading-2 counter-title"><span class="counter" data-step="3000">560</span></div>
                            <h4 class="counter-subtitle">Sq. Ft. of Area</h4>
                            <div class="divider divider-1"></div>
                            <p class="counter-exeption">The house and its outdoor zone offer lots of space for your daily activities.</p>
                        </div>
                    </div>
                    <div class="cell-sm-6 cell-lg-3">
                        <div class="counter-wrap">
                            <div class="icon icon-md icon-default hotel-icon-05"></div>
                            <div class="heading-2 counter-title"><span class="counter" data-step="3000">6</span></div>
                            <h4 class="counter-subtitle">Bedrooms</h4>
                            <div class="divider divider-1"></div>
                            <p class="counter-exeption">All bedrooms in this house are stylish places to have a rest at any time.</p>
                        </div>
                    </div>
                    <div class="cell-sm-6 cell-lg-3">
                        <div class="counter-wrap">
                            <div class="icon icon-md icon-default hotel-icon-10"></div>
                            <div class="heading-2 counter-title"><span class="counter" data-step="3000">5</span></div>
                            <h4 class="counter-subtitle">Bathrooms</h4>
                            <div class="divider divider-1"></div>
                            <p class="counter-exeption">Your family and guests will surely enjoy freshly styled bathrooms of this house.</p>
                        </div>
                    </div>
                    <div class="cell-sm-6 cell-lg-3">
                        <div class="counter-wrap">
                            <div class="icon icon-md icon-default hotel-icon-30"></div>
                            <div class="heading-2 counter-title"><span class="counter" data-step="3000">3</span></div>
                            <h4 class="counter-subtitle">Car Parking Spaces</h4>
                            <div class="divider divider-1"></div>
                            <p class="counter-exeption">This house has enough space for family cars and small vehicles.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-lg bg-gray-light">
    <div class="shell-wide text-center">
        <div class="title-block">
            <div class="range range-center">
                <div class="cell-sm-10 cell-lg-6">
                    <h3>Latest Blog Posts</h3>
                    <div class="divider divider-6"></div>
                </div>
            </div>
        </div>
        <div class="range range-40 range-center text-left">
            <div class="cell-sm-10 cell-md-4">
                <article class="post-masonry post-shadow">
                    <div class="media-wrapper">
                        <a href="single-post.html"><img src="images/masonry-blog-1-570x380.jpg" alt="" width="570" height="380" /></a>
                        <div class="post-date">
                            <div class="day">11</div>
                            <div class="month">Dec</div>
                        </div>
                    </div>
                    <div class="content">
                        <h4 class="post-title"><a href="single-post.html">Real Estate Guide: 7 Important Tips for Buying a Home</a></h4>
                        <p class="post-exeption">Buying a home can feel overwhelming and stressful, especially when sorting through pages of potential property listings, and prospective buyers may feel bogged down in questions about the home-buying process. Whether...</p>
                        <div class="post-meta">
                            <div class="post-meta-item">
                                <ul class="list-meta">
                                    <li>
                                        <a class="link" href="single-post.html">News</a>
                                    </li>
                                    <li><a class="comments" href="single-post.html">2 Comments</a></li>
                                </ul>
                            </div>
                            <div class="post-meta-item">
                                <div class="post-author">
                                    <span>by</span> <a href="single-post.html">Andrea Matthews</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="cell-sm-10 cell-md-4">
                <article class="post-masonry post-shadow">
                    <div class="media-wrapper">
                        <a href="single-post.html"><img src="images/masonry-blog-3-570x380.jpg" alt="" width="570" height="380" /></a>
                        <div class="post-date">
                            <div class="day">15</div>
                            <div class="month">Dec</div>
                        </div>
                    </div>
                    <div class="content">
                        <h4 class="post-title"><a href="single-post.html">Single-Family Homes as a Housing Option</a></h4>
                        <p class="post-exeption">When it comes time to make your first real estate purchase, does it seem like a condo or a single-family home would work better for your particular needs and lifestyle? What about the decision to buy or rent? It’s a hard question to answer because without having experienced both scenarios...</p>
                        <div class="post-meta">
                            <div class="post-meta-item">
                                <ul class="list-meta">
                                    <li>
                                        <a class="link" href="single-post.html">News</a>
                                    </li>
                                    <li><a class="comments" href="single-post.html">2 Comments</a></li>
                                </ul>
                            </div>
                            <div class="post-meta-item">
                                <div class="post-author">
                                    <span>by</span> <a href="single-post.html">Andrea Matthews</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="cell-sm-10 cell-md-4">
                <article class="post-masonry post-shadow">
                    <div class="media-wrapper">
                        <a href="single-post.html"><img src="images/masonry-blog-2-570x380.jpg" alt="" width="570" height="380" /></a>
                        <div class="post-date">
                            <div class="day">21</div>
                            <div class="month">Dec</div>
                        </div>
                    </div>
                    <div class="content">
                        <h4 class="post-title"><a href="single-post.html">Home Seller’s To-Do Checklist: Recommendations from HomeOwn</a></h4>
                        <p class="post-exeption">Selling a home can be stressful for everyone involved. As real estate professionals, we typically forget that our clients have no idea what they are doing when they are preparing their home to sell. We assume they know...</p>
                        <div class="post-meta">
                            <div class="post-meta-item">
                                <ul class="list-meta">
                                    <li>
                                        <a class="link" href="single-post.html">News</a>
                                    </li>
                                    <li><a class="comments" href="single-post.html">2 Comments</a></li>
                                </ul>
                            </div>
                            <div class="post-meta-item">
                                <div class="post-author">
                                    <span>by</span> <a href="single-post.html">Andrea Matthews</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div><a class="button button-primary" href="classic-blog.html"><span>View All Blog Posts</span></a>
    </div>
</section>